.txtPlanInput {
    width: 100%;
    height: 300px;
}

.txtEncodedInput {
    width: 100%;
    height: 300px;
}

body {
    background-color: rgb(241, 220, 122) !important;
}

.debugBody {
    background-color: rgb(176, 241, 122) !important;
}

.mainFilesTable{
    margin-left: 10px
}

h2 {
    margin-left: 10px
}